<footer class="container-fluid">
    <div class="f-info">
        <div class="f-logo">
            <img src="http://localhost:3000/images/Logo2.jpg" alt="Company Logo">
            <p>The premier solar installation service provider <br> Specializing in tailored solar solutions.</p>
        </div>
        <div class="f-links">
            <h5>Usefull Links</h5>
            <a href="/">Home</a>
            <a href="/about-us">About Us</a>
            <a href="#">Our Services</a>
            <a href="/contact-us">Contact Us</a>
        </div>
        <div class="f-service">
            <h5>Our Services</h5>
            <a href="#">Residential Solar</a>
            <a href="#">Commercial Solar</a>
            <a href="#">Industrial Solar</a>
        </div>
        <div class="f-subscribe">
            <h5>Subscribe</h5>
            <p>Get the updates via email. Any time you may unsubscribe</p>
            <form action="">
                <input type="email" name="email" id="email">
                <button>Submit</button>
            </form>
        </div>
    </div>
</footer>