<div class="navbar navbar-expand-lg" style="background-color: orange;  height : 4rem">
           
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid sticky-navbar">
      <a class="navbar-brand" href="#"> <img src="http://localhost:3000/images/Logo2.jpg" alt="Company Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/about-us">About Us</a>
          <a class="nav-link" href="#">Our Services</a>
          <a class="nav-link" href="/gallery">Gallery</a>
          <a class="nav-link" href="/blogs">Blogs</a>
          <a class="nav-link" href="/contact-us">Contact Us</a>          
        </div>
      </div>
    </div>
  </nav>